Source: adv-button-monitor
Section: user/Other
Priority: extra
Maintainer: Lcferrum <lcferrum@yandex.com>
Build-Depends: debhelper (>= 7), aegis-builder (>= 1.4), pkg-config
Standards-Version: 3.8.4
Homepage: https://github.com/lcferrum/adv-button-monitor

Package: adv-button-monitor
Architecture: armel
Depends: python, xresponse, x11-utils, alsa-utils, python-dbus, python-qmsystem, python-qtmobility.multimediakit, python-qtmobility.systeminfo, python-pyside.qtgui, python-pyside.qtcore, ${shlibs:Depends}, ${misc:Depends}
Section: user/other
Priority: extra
Description: Toggleable Nokia N9 Volume Button Actions. Based on n9-button-monitor 0.5.1 by teleshoes (elliot.wolk@gmail.com).
XB-Maemo-Display-Name: Advanced Button Monitor
XB-Maemo-Icon-26: 
iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsSAAALEgHS3X78AAAT
t0lEQVR4nO1bCXQVVZr+a3lLXlZCQgIBmj1AgBCxZUcUbfUgejwtbtMyCi04SssytmDj9HAGlEbt
lm4am+Voz+D0SIOKiKi0ogxrQJAgEBYhshgIZCVkeUvVrfn/W8ur9169JC/anj5nvJzLrVd1763/
/+6/3lsB+KH8/y7C9/WiiwsX+nyKkuOX5RzznsxYZ2oVUbxk3vMqyuUmWb7cZeHCpu+Dru8UAGJS
VpRxqiiOEEWxD97qBYrSQ1PVDgJjXmwBGNM7U6tpBhVIhijq19gKkgSaKPqxrQVZPot3yxhjpyXG
ihVZ3vFdgvOtAah89tl+qiRNwcuJEAwWaIGAS/P7AUIhvX5rCpFEWQZwuUDwekHweELgdh/DJ1sk
VV2bvWTJqW81fXsGaevXS5cOH34I128ONDcXaQ0NgG14Rf/ehUBJSgIhJYXaQ/jrt50LC9cJ992n
JjxVogPK582bxERhGdTX99Lq68MinUCJB1O7VoNUJi0NIC2tTGTa7LylSzcnMrzN76xc+kyq/6r0
Oq72vVpNTUKME8MMpYMz3pqU4OoSUaLRtrkQEJmZDKXiHW+6OjV73ovX2jKsTe+4sGBBHlNCW1ll
ZQEX9QQKMU5VpRaI/zAAdhtoEYQ/yBxK1Bo1oYKqIWZnHxNl123dnn++vLXurc5ePndut4Ak7tcq
KnITNWrEuEIVpUU1QNAMQJwKX3WsklFlXFXzOqFCBjM3t8Ll9lzfGggtzlz5zDOp9Ror1i5dHJgo
88SiioyHsAaxKozAYAYI9DwSBBJ44tPOvBsrtXJ7JIFA6NylNE0QR2S/GF8d5JbmqAX1dbh8ZSC6
t8RejkU1Vj5oVooBkpMhuXcfVIU4EoAgKHW10Hz+PLgNaaGeAoLA20QIIJqvXB5Ym9Ppdfw1OV63
uHOWzp49UfQ3vw/VVYm81ioEAK1+ABn3Yw2oDFIHD4IRS19qcVz59s/g2ItLcfUl8EgiVolLgtQe
KcAiZGUx1ZN018Bly7Y4PRedbpKfB439kSHzGIG1q6rItMIr01WBgFBad9PN2CeIlfrTOMVo201H
VZVIvHCe2grA8V27HkIfTyGsLoYJVhZxrQOgYRvP+EWAD2Qs9f76OE1nph108Eo8XKvvUbpn5wNO
73O0AUxQ52r1dUhN4kGOzgRwJsjoKZx4xn8HMHA6u28f7+PF4CV3wAB+7cf7FceP8+vqM2c44TRW
ZmgTKBIWdJfJ2hu5X60DITX5abz6S/SjmBlLZ8zoG1KDp6CqfbpPzBMDQa7/WJnK7QDZgyYU7SuU
J2DJG3Y9TF7xKr/+urgYNs1+il/7ZAmyPF5wkRdAG+BFW0Ct6RHanbxkZYFLcvcbuGrVV/bbMRIQ
lMUpUNfQrrjeDHh0D0BG0NBfuoe/yZ3lYEJDJVUOv1pErsz7dE3SImrkRjGfAmOVDNWSjVghYSCu
NUAwK4uStn+z344BgGnqXdBM2WbbATBDXdPyhwFgVqV7gtcDuYOGQGa/fMgsKLDGd+zVGwofmw51
X5dB5Zcl4K+sxPHEuGbMTsyLHBiVxwnoFcQEQSCeiLcoACLmODB9uk9Tg3XClcuuRJhXjSBHsbWq
occhvM5Cce91192QN2IkiK7Wp645dQrObv0Qzn34AQiBAIo+BkaC7gpdomAFR4m6Rq1TTkiQ3BnX
r15t7SdESIACyhj0/S6tjeJPvcjImeGuEgEEMT4Mhjz+JGT07h0ztrG6Ghpqqvm1Lz0DUlBHBWNT
JLNfP14H/fOjUPrfa6Fs40Z0hwoHQZcEBBivCYxEQND8fpeaIo3Ey22OAIiacIOGiLdF/3VLHxZz
U+SJcc3jgaJZc6Dn7XdEMHz0ow/h1I4dUH70CCgokiTEus5rKBke6IxeofeoUTBk4p2QkZcHbvQU
Q5+YCT1uux32LV4EjWe/NlRNQE9F8TS6+ERACPhB9iXHByCksUFiMNAm92dnPmTqO47z5naBcUtf
hrTu3Xm/+itX4LMVy+EoirMXn/vQ+GVTZOdLipiPGPOfLIWDpUdgx6o/Qf7NE+AmZD6rZ0+UoD5w
86sroXjJIqhAAEkKmMh46wZdHdrkIZA3dMmD7LcioqOpRUPnQ11dF56stFBJ50MqVVusj9XXvQfc
smIlJOfo+54l722Cdb+YCQ0nj0NH1H0fhrVyHAtO9+iZF/uQhyCDuHfDeiQY4EdF14HkdkP3G2+C
q+XlUHP6q7CNNqRVMGqLtCO9LC2t4c9flLxmvjdCApiq5ImtiL+p99GrL2d0gPEvvwLejAwUIAZb
XlgMpRvfgY5IOObmfGAijtUnyUAy8vnqlXDpeClMfvFlkBDEEfOehaaqSqj+4qBBjRgmTGxdFTRF
6WH/HREKM0XJYJoeucWrClO5f6ca5FVBX63BmBeWQHKnTnyedxf+Gk6++w5kul2gu7CW54xXKRzO
cMlwZddOeHPOLFAxJScvMnbRCyAh0JRhUs7AW4MmtbV5kUc7zxZcmydN8qWkeBsFRDdeMTc4Qsye
5jLo/7MpcP2/PMn77PrPP8O+5csgu2NHmLB4CWT26RszT7CxAQ6uWQVn/raV/+6MIj5i9lxIzu4U
07fq5AnY8fwiqL5cAT3vvgcmPfdrfv/Cnt3w2S/n8gjRrOQVqG1JCrSsbGho8CdP2ryZu0JLBZJS
U3OZ0gxCCwZQsRk+k3k5MxMKH53Gn1/BOH7Pq8shHXV44H0PQN4Nwx3nScIxY+cvgDOffIxqp8KY
ZxfwOP/U7l0xfQdMuAWGTp0Gu5YugZPvvA39xo2H/HHjoNuo0ZDz4xvgyuf7eMDEK7pGtI0tBkka
ulPiFS/LIgAAQe3IDy7i2ABu/IwMTbHVoQ8/Ai4jjN38H/8OqYKe0SV17hIXSCounw9c6Ob8tTXg
SkmFI+gltr30mwjCiRJKmHw4F82Z4pLg45eWQN/Ro0FEYzlk6s/ho317uR7zapyvCCy+LeA8utSO
JgCWDQgpISvtdKp8O4uZIa7eAvr7vuizqZwrOQRXj37JkeIpbBtMnq7neqhLvpxsRgdbpd8CQGQq
XHEJjmA8QaXzkEJIRxULRS2KEocHsxKvZrEAEAXRFc+AqEZVNFWvTK+dh48ET3IKH39gw1/Bg0tg
jmlLMGUZO2O9nXP6yL60OXZo/Tprjh633qaH3JwuXULVFowhPSNeYwBAxrIh3gYI0zclSAJUI86n
Ng9FkZOOzy7s2B7hcwNNrR/fmX0N/h3fHd2Xas2xI1YY3RXzC333R9OZNzZemLGZEjOfquq8RgMA
9MiYKLqqFvOGiBnbXDkFQ/jAiq9OgdDYGLkr1JZdZDuTXHocRBaNFm0X2+fGZAXD6aN8WDZ5Gdkd
XhxbjcsLzWkUywiG/MEayXhRLJ02glh426tD1678ec3580YUFh5bVVbWIu9XKyp4fkDGqvabchh8
5yTI7dkrog/5/E4YBu9f92YMXZfRPeaPu5EnUL7cHGi6cMGij5QKo2RHK6Th+1iIWb7eAkCUxBA+
cMwDVAuAsE1wp6WCjEaQSgPGDixqXMnb60FITYUeQ4t4BBfBPOYHO15bhXG4Pu+G+U/DhJmzIDkj
IkZBPQrAvrfWw/blvwNf1PxNth0rT2ZHaDh/DukCXhlv9eA42hfQ+4jXGAD4Qw5RLG7mjo6p/3xz
Uwhrj755GjmGHON+DHZ2sVh/QJKWhhGe6arU8m9gw9OzOeHRhYKbdAQw+pHiDx/RMUGwLZDAF0ii
hAli9/yonz0BCqtAgHGrIsRRgZhdX9thiYzxvpPqdOvVE3IGFMRIQGN1FVzYv48HQXw8ivHg4SMg
vUte1HsZVJ48CVWY/ETP7sY4wqIdaeGqadkKnVGnSIACLmbwGgFAlShWZNI2lIMKMMOvM9Djc3pJ
4Fo9ghYAF6pBGgYqDCLH5RUNg/tfW8sDFqfy1aefwKY5M/n1hHkLoOiBf3LsxxMrVJETWz+IuJ9u
2B8qBCinzhB/SpP5NryTCgga1CCvMQDMwNh43cRb/CgBXicArNUH09hpUH3hPOSiFc7Nz4+RgAGT
7oZgczP84aHJMc+G/3QyjH9kGtoQLxrfZuhzy0+g5KMPYOuKP8QA8PNXV0PfOybC8Y8iD3Y69c3X
aUOLfu1SefgozZJSvV80AChz/hlGHhABAJ8MoA71KDeaiMjDDl0W6Pr84RIOQFqnHEjv1h1q0RBZ
Y1xuLiHBM6djmGoo1w9sxaQkYLQzhPakEQ1jqOxMTF8CUcC57IcqLm8SdMcEikr5iROgoculnSGN
/2PGJi0/bo1RHeLR/jsiHUYdKo93wiLoG/66jdC/dIAzu3dYY/PvuDMy4DAIloXYaq4KpbfWAWic
vvZFMGtPdH+mXTm9d7dBk1mdAyqrisLZuABgkHBaFcWYYIQjauAbDlsBznz2KUZ8jfxOEWZ//BTX
eFHQsNKORBiz+NGOmOqhxQmFwXpfuA772SMWzSUb3444atdsIETzoYoSRXthMY0GABXqKCMAHA4Z
yRhxxTKQJtSloB/2IwFUSA0K73swnHDQ5io4JyMmveZ5gvm1gGNfWz+qfcZPsMS/7IsDcI1UTDOt
n3GWqNnOFO2V0kXk0c5y5KaoyvbLkow+1A8xRTNybgokQD+0oNObnWtWwkhkXEaRHP/UXDi17W9Q
j1EeuTg36nhuwSAu6vZCG52aQRQPh5H4DnldIbtffkQ/EWnxpqRA3cVyPQRG3b/1V+Fzja3Ll4Fb
FCx6TK0XbADbi4rzYRi/Py4Airdxl6B4Qsik4+lFWCI1axNSwfT0k9V/gtuffIofeN7zu+XwxpQH
oeT9TTD8/gdh2oZNTlNB8dsb9Nwcy4H33oWbpz0GBRNujX0ngvTuooUcgImLl0BGnu7+jmz7BMr3
7IQUcrOaaVg0fm2qbHRRZVeIeLTfi4kV1kwYc9hVXTkkhhDQxTCk6fsBest4ew1166l33ocu+f15
32Posv46dxaE0jMgp3efGELIslccPgTpkq6B9YoK2YML+WpHF3K1ysVvYNL852DUtOn8XmNdHSy9
YwJ46mr4TrKLnxiJRqufEzgFQaGO2V8+tm1Xof1ezNkgxtLvYRIyRKDzAadiqoKtJqkhWDVjKvwS
QUjJzISC2yfCw75kWDf7CajYtztmCiIvVRKsVUqRRag/9iX6p9hV82CUOXnJS3Ddvffz3wqq05qZ
M0CoruRGVxTMLXEtLAQxXyDhPbeH8xY9f+wHEkporYKdHS0y13971SeQKPkovwArpk6BQKPuFfqO
Gw8z39sKA0aNAQ+uiL26HTbwXXgvul/3/gPh8fWbLOZJHf4Lc4bLxbv5avMtMDCrZh2mOtFOPBFv
sYvhUF4dP/KQq6ZyqFNixM8FNM06/yMVMH83qQx8GKHNeuNNSLft8J749GPY/dpqOLu/2Ol1MSW3
/wAYPW0GFN51j3VeSGqz+hePwzkMoVNkiQOgH5oKlhpIBigxBe+HMrNLnti+t6hNAPz+xusfdjX7
10qGj48u+h6hAYQBgmpc+1HOgmnp8Cgaw8E3TYgYV33uLJzavg0ufFkCVRj1NdXWYkAjgyclFTp0
7QZdC4v4rm9Ov/4R4745Xgorn5gO/nNlaPRE4zO6MPN6jf91qYrqGEryTpn1vwfeaBMAk1Gqx479
8Wl3bVWPeFJgB8FkXr8Gbhxr0LANnXg3/BSNV5ZxTphoaayrhS1//D18+toaSEef6zWYlqIYN78t
dGQG7wc7ZJ3dufPzPht4KtAGAKi8MmroRCkUel9ucP7GkEBQDYbtIOibEnrS1IBurhG1s/Ant8NY
zPYGjh2H8YK7RaZJz8tKvoCd6/4CxRvfAg+muiTylFNKNoZ1IMACJB4jCkqX6nLdOWdPieNnci0e
pL0yatgG6VrdvWLI+UNJuySYn8YQxCYQzACiCYFowhua1wP5w0dCl779ILvbj/h3AVT8jdeg5uJF
uPjVSTi1fx8EcOV9qPvJyLj+3bCxyiCEr21gxGOCIdhqasZbc/YcTPxDSSpLR+enympSsau+dqCg
On/jZ4LAVx7CEsABAD0tDbcAARa2GWbKKgrh1fXwL0HA+mLcBEA0vyGGcN+WvijXMOoLpWWUKlLz
iHm7T8b9VLbVI/XfjhvUjQWE/a76q7mCbTfVCQRi0Fx51QaM+Vwz+hqJZSQhQpggwQBFBMFqdRDA
AqF15tMrRI92w7/uOHqhJf7a9G3J4pGFeS6FbZUb6wtaUodw0qKvtgmKKQWacW32D0frYWbCgU1Y
vMOtDoYgxCecxF5JTjsWksXbntt7+Nt/Lm+Wpfn5qWq6+3Up0HyvTO7RwTuYLGmm2NuvtTBIAM7D
BSFSAvgnNPbrFhinwQq6O9WT9JZ0NTh13sn4Yh8xrC2d7OU31/WfxARxmeRv6iUF/K0CYYal5upr
tudOhJgAmGC0tuKccU8SMG9Smaix2fO/OPH3+ZMZe6E4obBowEPI0lxBCQ2VMG9oSTV4G8G8M2im
IgjGfyYYToVbeAxvsT0kaMIrhw8d/x8nP99aafeXp2Z5obBXv5DgmoJsTRRVtUBQQy5RUYC8hsAi
6YlJUOIQEf1bw2xTw7SXyTK2rhCTpGPYa4tLC6391eGy7//P5uKVhcOG+UBrGAdMHYFT96GKQGAY
qHVAEfDqe3f69rm1j8d/CHxPX78W9WtBQP0SapHx89jxNK+iVAxCyo6FBw/+4/zhZFsLgaOEGnJk
UK0/nWVM4386K4qC9aezCkiXZVfK5e+SyR/KDyV++T8EtfiEWkUJNAAAAABJRU5ErkJggg==
