[Desktop Entry]
Type=Application
Name=ButtonMonitor
Exec=/usr/bin/sudo sh /opt/n9-button-monitor/startstop.sh
Icon=/usr/share/icons/hicolor/80x80/apps/n9bm-on.png
