[Desktop Entry]
Type=Application
Name=ButtonMonitor
Exec=/bin/sh /opt/adv-button-monitor/bin/startstop.sh
Icon=/usr/share/icons/hicolor/80x80/apps/adv-button-monitor-on.png
